/* Gradients */

.gradient_bg_blue-grey-lighten-1_blue-grey-darken-1_blue-grey-lighten-1{ 
    background: linear-gradient(90deg, rgba(96,125,139,1) 0%, rgba(69,90,100,1) 50%, rgba(96,125,139,1) 100%);
}

.gradient_bg_grey-darken-4_black_grey-darken-4{ 
    background: linear-gradient(90deg, rgb(33, 33, 33, 1) 0%, rgba(0,0,0,1) 50%, rgb(33, 33, 33, 1) 100%);
}

.gradient_bg_Blood_Red{
    background: #f85032; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f85032, #e73827); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f85032, #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* VARS */

:root{
  /* APPLE TEXT watchOS */
  --apple_yellow: rgb(255, 230, 32);
  --apple_blue: rgb(32, 148, 250, 1);
  --apple_violett: rgb(120, 122, 255, 1);
  --apple_red:  rgb(250, 17, 79, 1);
  --apple_green:  rgb(4, 222, 113, 1);
  --apple_white:  rgb(242, 244, 255, 1);
  /* APPLE BG watchOS */
  --apple_yellow_transparent: rgb(255, 230, 32, 0.14);
  --apple_blue_transparent: rgb(32, 148, 250, 0.17);  
  --apple_violett_transparent: rgb(120, 122, 255, 0.2); 
  --apple_red_transparent: rgb(250, 17, 79, 0.14); 
  --apple_green_transparent: rgb(4, 222, 113, 0.14); 
  --apple_white_transparent: rgb(242, 244, 255, 0.14); 
  --apple_orange_transparent: rgb(255, 149, 0, 0.15);
}


/* Apple Colors watchOS text */

.apple_yellow-text { color: var(--apple_yellow) !important; }
.apple_blue-text { color: var(--apple_blue) !important; }
.apple_violett-text { color: var(--apple_violett) !important; }
.apple_red-text { color: var(--apple_red) !important; }
.apple_green-text { color: var(--apple_green) !important; }
.apple_white-text { color: var(--apple_white) !important; }
.apple_white-text_transparent { color: var(--apple_white_transparent) !important; }


/* Apple Colors watchOS */

.apple_yellow { background-color: var(--apple_yellow) !important; }
.apple_blue { background-color: var(--apple_blue) !important; }
.apple_violett { background-color: var(--apple_violett) !important; }
.apple_red { background-color: var(--apple_red) !important; }
.apple_green { background-color: var(--apple_green) !important; }
.apple_white { background-color: var(--apple_white) !important; }

/* Apple Colors watchOS transparent */

.apple_yellow_transparent { background-color: var(--apple_yellow_transparent) !important; }
.apple_blue_transparent { background-color: var(--apple_blue_transparent) !important; }
.apple_violett_transparent { background-color:var(--apple_violett_transparent) !important; }
.apple_red_transparent { background-color: var(--apple_red_transparent) !important; }
.apple_green_transparent { background-color: var(--apple_green_transparent) !important; }
.apple_white_transparent { background-color: var(--apple_white_transparent) !important; }
.apple_orange_transparent { background-color: var(--apple_orange_transparent) !important; }



