@font-face {
    font-family: sullivan;
    src: url(../fonts/Sullivan-Regular.otf) format("opentype");
}

.sullivan{
    font-family: sullivan;
}

@font-face {
    font-family: montserratRegular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("opentype");
}

.montserratRegular{
    font-family: montserratRegular;
}

@font-face {
    font-family: montserratSubrayadaRegular;
    src: url(../fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf) format("opentype");
}

.montserratSubrayadaRegular{
    font-family: montserratSubrayadaRegular, serif;
}

@font-face {
    font-family: robotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format("opentype");
}

.robotoMedium{
    font-family: robotoMedium, serif;
}

@font-face {
    font-family: robotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf) format("opentype");
}

.robotoLight{
    font-family: robotoLight, serif;
}