/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import "colors.css";

.logo_Instagram{
  min-width: 29px;
  min-height: 29px;
  max-width: 75px;
  max-height: 75px;
  /*background-color: rgb(222, 42, 123);
  padding: 5px;*/
  border-radius: 6px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .size_font_small_screen_only {
    font-size: 1.1rem !important;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.htopf{
  display: none;
}

/* Colors for Input Forms 
=====================================================*/

input{
  color: var(--apple_white) !important;
}

.input-field label, textarea {
  color: var(--apple_white) !important;
}
.input-field input, textarea {
  border-bottom: 1px solid var(--apple_white) !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, input[type=email]:focus + label, textarea:focus + label {
  color: var(--apple_green) !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border-bottom: 1px solid var(--apple_green) !important;
  box-shadow: 0 1px 0 0 var(--apple_green) !important;
}
/* valid color */
.input-field input[type=text].valid, input[type=email].valid, textarea.valid {
  border-bottom: 1px solid var(--apple_white) !important;
  box-shadow: 0 0px 0 0 var(--apple_white) !important;
}
/* invalid color */
.input-field input[type=text].invalid, input[type=email].invalid, textarea.invalid {
  border-bottom: 1px solid var(--apple_red) !important;
  box-shadow: 0 0px 0 0 var(--apple_red) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--apple_red) !important;
}

/* Select Input Colors 
  ==================================================*/
.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

body.keyboard-focused .select-dropdown.dropdown-content li:focus {
  background-color: var(--apple_white_transparent);
}

.select-dropdown.dropdown-content li:hover {
  background-color: var(--apple_white_transparent);
}

/* color of elements in select */
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: var(--apple_green);
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  fill: none;
}

#select_svg_arrow{
  fill: var(--apple_white);
}

#select_svg_box{
  fill: var(--apple_white_transparent);
}

.btn{
  background-color: var(--apple_white_transparent);
  color: var(--apple_white);
}

.btn:hover{
  background-color: var(--apple_green_transparent);
  color: var(--apple_green)
}

/*.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #2bbbad;
}*/

/* Für Mitglieder Seite */

.card{
  background-color: black;
  color: var(--apple_white);
  
}

.card-content{
  border: 1px solid var(--apple_white_transparent);
  border-radius: 0 0 5px 5px !important;
  /*border-top: 0;*/
}

/* GALERIE */

#headlinerImg{
  border-radius: 5px;
  border: 2px groove var(--apple_white);
}

.matrixImg{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.matrixImgTrenner{
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#headlineTrenner{
  background-color: var(--apple_white_transparent);
  height: 1px;
  border-width: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

