.logo_Instagrama{
  min-width: 29px;
  min-height: 29px;
  max-width: 68px;
  max-height: 68px;
  background-color: rgb(222, 42, 123);
  padding: 5px;
  border-radius: 6px;
}

.logo_Instagram{
  min-width: 29px;
  min-height: 29px;
  max-width: 68px;
  max-height: 68px;
  background-color: rgba(242, 244, 255, 0.14);
  padding: 5px;
  border-radius: 6px;
}